<ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let e of events">
        <div class="carousel-caption">
            <h3>{{e.name}}</h3>
        </div>
        <a href="http://localhost:9000/events/{{e.id}}" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
                <img class="w-100" src="https://picsum.photos/id/1082/700/300">
            </div>
        </a>
    </ng-template>
</ngb-carousel>
<br />
<a href="http://localhost:9000/events">See all events</a>